
// Variables
@import 'variables';

.table-actions-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    form {
        margin-right: 10px;
    }
}

.schedule-box {
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    .title {
        font-weight: bold;
    }
}

.dataTables_length {
    select {
        min-height: 38px 
    }
}

.status_selector {
    color: white;
    padding: 10px;

}

 .status_selector_selected {
    border: 2px solid black!important
}