
// Variables
@import 'variables';

.table-actions-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    form {
        margin-right: 10px;
    }
}

.schedule-box {
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    .title {
        font-weight: bold;
    }
}